.qr {
  display: grid;
  grid-template-rows: .1fr 2fr auto;

  &-logo {
    display: flex;
    justify-content: center;
  }
  &-middle {
    //height:80%;
    display: grid;
    grid-template-rows: 0.1fr 3fr;

    &-heading {
      p {
        width: 55%;
        margin: auto;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
      }
    }
    &-card {
      background-color: azure;
      height: 90%;
      width: 80%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
